

DB_HOST='localhost'
DB_PORT=3306
DB_NAME='resume_builder' #the name of your local database
DB_USER='phpuser' #the username for your local database
DB_PASS='Php##0923' #the password for your local database
